.list-item {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 12px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.list-item-image {
  flex: 3;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 8px;

  > img {
    border-radius: 8px;
  }
}

.list-item-label {
  flex: 7;
  padding-left: 10px;
  font-weight: bold;
}

.infinite-scroll-list {
  width: 100%;
}

.loading {
  text-align: center;
  margin-top: 16px;
  color: #555;
}
